{% extends "layout.html" %}
{% block body_content%}

<h3> Please Choose shelf to edit: </h3>

<div class= 'form'>
<form method = "POST" action="">
	{{form.hidden_tag()}}
	{{form.addbook_name.label}}
	<p style="display:inline-block;">{{form.addbook_name}}</p>
	<p style="display:inline-block;">{{form.submit}}</p>
	<br>
{% if books %}
	{% for book in books %}
</div>
<div class='form'> 

<form method = "POST" action = "/addto_shelf">
		{{aform.hidden_tag()}}
		
		<h4>{{book.book_title}}</h4>
		<img src ={{book.book_image}} style ="left;width:5%">
		<br>
		{{aform.addb}}
		<br><br>
		{% endfor %}

	</form>
{% else %}
</div>







<p> No books found for your search </p>
{% endif %}
{% endblock %}


